# Python environment and cache
.venv/
__pycache__/
*.pyc

# App configs (optional, but good if you have personal paths)
config.json
render_config.ini

# Project specific ignores (large binaries and media)
ffmpeg/
*.bmp
*.wav
*.mov
*.mp4

# Build artifacts (PyInstaller)
build/
dist/